<div class="jumbotron">
  <a>TinyApp</a>
  <div class='text-right'>
    <a> <% if(user) { %> <%=user.email%> <% } %> </a>
    <a href='/login' class='btn btn-default' role='button'><% if(user) { %>Logout<% } else { %>Login<% } %></a>
    <a href='/register' class='btn btn-default' role='button'>Register</a>
  </div>
</div>