<div class="jumbotron">
  <h1>TinyApp</h1>
  <a href='/login'><% if(user) { %>Logout<% } else { %>Login<% } %></a>
  <a href='/register'>Register</a>
  <a> <% if(user) { %> <%=user.email%> <% } %> </a>
</div>