<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/_head %>
  <style type="text/css">
    li div {
      display: inline-block;
      padding: 20px;
      margin: 0px;
    }
  </style>
</head>

<body>
  <% include ./partials/_header %>
  <div class='container text-center'>
    <h2 class='text-center'>Your Shortened URLs:</h2>
    <div class='row'>
      <ul class='list-group'>
      <% if(user) {
        urls.forEach( function(url) { %>
          <li class='list-group-item'>
            <div>
              <h4><%= url.shortUrl %></h4>
            </div><div>
              <h4>&#8594;</h4>
            </div><div>
              <h4><%= url.longUrl %></h4>
            </div><div>
              <a href='/urls/<%= url.shortUrl %>'><h4>Edit</h4></a>
            </div><div>
              <form action='/urls/<%= url.shortUrl %>/delete?_method=DELETE' method='POST' value="Delete">
                <input class='btn btn-danger' type='submit' value='Delete'>
              </form>
            </div>
          </li>
        <% }); %>
      </ul>
    </div>
  </div>
  <% } else { %>
  <div class='container'>
    <div class='alert alert-info text-center'>
      <h2><strong>Please Login!</strong></h2>
    </div>
  </div>
  <% } %>
    <div class='container text-center'>
      <a href='/urls/new' class='text-center'>Create a New Short Link</a>
    </div>
</body>

</html>
