<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/_head %>
</head>

<body>
  <% include ./partials/_header %>
  <h2 class='text-center'>Shortened URLs</h2>
  <% if(user) {
    urls.forEach( function(url) { %>
    <div class='container'>
      <div class='row'>
        <ul class='list-group'>
          <li class='list-group-item'>
            <div class='col-sm-6 text-right'>
              <form action='/urls/<%= url.shortUrl %>/delete?_method=DELETE' method='POST' value="Delete">
                <a><%= url.shortUrl %> --> <%= url.longUrl %></a>
            </div>
            <div class='col-sm-6'>
                <a class='text-center' href='/urls/<%= url.shortUrl %>'>Edit</a>
                <input class='btn btn-danger' type='submit' value='Delete'>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  <% });
  } else { %>
  <h2>Please Login!</h2>
  <% } %>
  <a href='/urls/new' class='text-center'>Shorten URL</a>
</body>

</html>
