<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/_head %>
</head>

<body>
  <% include ./partials/_header %>
  <div>
    <div class='container text-center'>
      <div class='alert alert-danger'>
        <h2><strong>Missing!</strong> We Do Not Have That URL in Our Database</h2>
      </div>
      <a href="/urls"><p>Go Back to URLs</p></a>
    </div>
  </div>
</body>

</html>