<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/_head %>
</head>

<body>
  <% include ./partials/_header %>

  <div>
    <div class='container text-center'>
      <% if(failed) { %>
        <div class='alert alert-danger'>
          <h5><strong>Error!</strong> Could Not Find URL</h5>
        </div>
      <% } else { %>
        <div class='alert alert-info'>
          <h2> Try Using a Short Url to Redirect</h2>
        </div>
      <% } %>
      <h4><a href="/urls">Go Back to URLs</a></h4>
    </div>
  </div>

  <% include ./partials/_footer %>
</body>

</html>