<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>
    <% include ./partials/_header %>
    <% if(!user) { %>
      <form action='/login' method='POST'>
        <input type='email' name='email' placeholder='email'>
        <input type='password' name='password' placeholder='password'>
        <input class='btn-primary' type='submit' value='Login'>
      </form>
    <% } else { %>
      <form action='/logout' method='POST'>
        <input class='btn-primary' type='submit' value='Logout'>
      </form>
    <% } %>
  </body>

</html>